{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

{% if request.session.session_key is empty %}
    <script>window.location.href = '../login';</script>
{% elif request.session.admin == 0 %}
    <script>window.location.href = '../medewewerker/{{ request.session.medewerker_id }}';</script>
{% else %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="text-center mb-4">Voeg een nieuwe medewerker toe</h1>
            </div>
            <div class="col-8">
                <form action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group p-1">
                        <button type="submit" class="btn btn-primary mb-5 mt-2">Account aanmaken</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endif %}

{% endblock content %}
