{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1>Aanmelden</h1>
        </div>
        <div class="col-8">
            <form action="" method="post" class="p-5 mb-2">
                {% csrf_token %}
                <div class="mb-3" for="firstName">Voornaam:</label>
                    <input type="text" class="form-control" name="firstName" placeholder="Voornaam" required>
                </div>
                <div class="mb-3">
                    <label for="lastName">Achternaam:</label>
                    <input type="text" class="form-control" name="lastName" placeholder="Achternaam" required>
                </div>
                <div class="mb-3">
                    <label for="password">Wachtwoord:</label>
                    <input type="password" class="form-control" name="password" placeholder="Wachtwoord" required>
                </div>
                <div class="mb-3">
                    <label for="email">E-mailadres:</label>
                    <input type="text" class="form-control" name="email" placeholder="E-mailadres" required>
                </div>
                <div class="mb-3">
                    <label for="gender">Geslacht:</label>
                    <input type="text" class="form-control" name="gender" placeholder="Geslacht" required>
                </div>
                <div class="mb-3">
                    <label for="phonenumber">Telefoonnummer:</label>
                    <input type="number" class="form-control" name="phonenumber" placeholder="0612345678" required>
                </div>
                <div class="mb-3">
                    <label for="birthday">Geboortedatum:</label>
                    <input type="text" class="form-control" name="birthday" id="birthday" placeholder="jjjj-mm-dd" required>
                </div>
                <div class="mb-3">
                    <label for="zipCode">Postcode:</label>
                    <input type="text" class="form-control" name="zipCode" placeholder="Postcode" required>
                </div>
                <div class="mb-3">
                    <label for="housenumber">Huisnummer:</label>
                    <input type="text" class="form-control" name="housenumber" placeholder="Huisnummer" required>
                </div>
                <div class="mb-3">
                    <label for="disability">Type beperking:</label>
                    {% for beperking in beperkingen %}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="disability" value="{{beperking.beperking}}">
                        <label for="naam-beperking" class="form-check-label">{{beperking.beperking}}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="tools">Gebruikte hulpmiddelen:</label>
                    <textarea name="tools" class="form-control" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="particulars">Bijzonderheden:</label>
                    <textarea name="particulars" class="form-control" rows="3"></textarea>
                </div>
                <div class="mb-3" id="supervisor_div_btn_hide">
                    <label class="form-label" for="supervisor">Toezichthouder/voogd?:</label>
                    <select class="form-select" name="supervisor" id="supervisor">
                        <option value="nee">Nee</option>
                        <option value="ja">Ja</option>
                    </select>
                </div>


                <div class="mb-3" id="supervisor_div">
                    <label class="form-label" for="name_supervisor">Naam toezichthouder/voogd:</label>
                    <input type="text" class="form-control" id="supervisorName" name="supervisorName" placeholder="Volledige naam">

                    <label class="form-label" for="email_supervisor">E-mailadres toezichthouder:</label>
                    <input type="text" class="form-control" id="email_supervisor" name="email_supervisor" placeholder="E-mailadres">

                    <label class="form-label" for="phonenumber_supervisor">Telefoonnummer toezichthouder/voogd:</label>
                    <input type="number" class="form-control" id="phonenumber_supervisor" name="phonenumber_supervisor" placeholder="Telefoonnummer">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="approach">Benadering keuze:</label>
                    <select class="form-select" name="approach_choice">
                        <option value="Telefoon">Telefonisch</option>
                        <option value="Email">Email</option>
                    </select>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Goedkeuring aanvragen</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../../static/js/signup.js"></script>

{% endblock content %}