{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <header class="row">
        <div class="col-12">
            <h1>Welkom bij Stichting Accessibility!</h1>
        </div>
    </header>
    <section class="row">
        <div class="col-12">
            <p>Stichting Accessibility heeft als voornaamste doel het bevorderen van een inclusieve samenleving, waarin iedereen, ongeacht eventuele beperkingen, gelijke kansen krijgt om volledig deel te nemen aan de maatschappij. Dit streven sluit nauw aan bij het groeiende bewustzijn onder bedrijven en organisaties over het belang van het toegankelijk maken van hun producten en diensten voor iedereen.
            </p>
            <p>Om de huidige mate van toegankelijkheid te onderzoeken en verbeteringen voor te stellen, plant Stichting Accessibility de ontwikkeling van een webapplicatie. Deze applicatie is ontworpen om ongeveer 125 mensen met beperkingen te verbinden met organisaties en bedrijven. De stichting vervult hierbij de rol van poortwachter, waarbij zij de vragen voor het onderzoek formuleert en ervaringsdeskundigen zorgvuldig selecteert en samenbrengt.
            </p>
            <p>Aangezien het om een kwetsbare doelgroep gaat, zal de stichting de gegevens van de ervaringsdeskundigen beheren en alle stappen in het proces goedkeuren. Twee cruciale aspecten hierbij zijn de toegankelijkheid van de applicatie en de beveiliging van informatie.
            </p>
        </div>
    </section>
</div>

{% endblock content %}